
<mat-toolbar color="accent" class="mat-elevation-z8">
    <span><mat-icon>eco</mat-icon>AUV Grocery</span> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="search" id="site-search" name="q"
       aria-label="Search through site content" placeholder="Search grocery product ">&nbsp;
       <a mat-button id="shiv"><mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon></a>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="spacer"></div>
    <a mat-button routerLink="/admindashboard"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    Home</a>
    <a mat-button routerLink="/viewproduct"><mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>Products</a>
    
    <a mat-button routerLink="/newproduct"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>New Product</a>
    <a mat-button routerLink="/editproduct"><mat-icon aria-hidden="false" aria-label="Example home icon">mode_edit</mat-icon>Edit Product</a>
    <a  mat-button >About Us</a>
    
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
         
        <button mat-menu-item href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>View Profile</button>
        <hr>
        <button mat-menu-item href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>Setting </button>
        <button mat-menu-item routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>Log Out </button>
      </ng-template>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  